includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app/
    bootstrapFiles:
        - bootstrap/app.php
    reportUnmatchedIgnoredErrors: false
    parallel:
        maximumNumberOfProcesses: 4
